.background {
    width: 100%;
    height: 900px;
    background: url(../../images/bg1.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border: 3px solid yellow;
    border: none;
}
.background .layer1 {
    position: absolute;
    width: 100%;
    height: 589px;
    background: linear-gradient(180deg, #0A0A0A -10.1%, rgba(10, 10, 10, 0.78) 7.42%, rgba(71, 44, 28, 0) 55.6%, rgba(10, 10, 10, 0) 55.6%);
}
.background .layer2 {
    width: 100%;
    height: 1079px;
    transform: rotate(180deg);
    background: linear-gradient(180deg, #0A0A0A 0%, #0A0A0A 29.58%, rgba(10, 10, 10, 0) 59.16%);
}

.background .layer3{
    height: 900px;
    transform: rotate(180deg);
    background: rgba(10, 10, 10, 0.12);
}

.background .bg-black {
    border: 2px solid green;
    border: none;
    padding: 1070px 955px;
    margin-top: -900px;
    background-color: #0A0A0A;

}