.trending {
    width: 1,920px;
    height: 257.39px;
    margin-top: 50px;
    left: 0.35px;
    padding: 0px;
    gap: 4px;
    opacity: 0px;
    border: 3px solid fuchsia;
    border: none;
    position: relative;
    top: -50px;
    margin-left: 4%;
    margin-right: 0%;
    }
    .trending .title-trending {
        color: #fff;
        font-size: 32px;
        font-weight: 800;
        font-family: 'Poppins', sans-serif;
    
    }
    .trending-container {
        border: 3px solid red;
        border: none;
        margin-top: 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-left: -50px;
        margin-top: -1px;
    }
    .trending-container .box7 {
        border: 3px solid green;
        border: none;
        padding: 10px;
        margin-left: 2%px;
        width: 329.59px;
        height: 185.39px;
        gap: 0px;
        border-radius: 12px 12px 12px 12px;
        border: 1px 0px 0px 0px;
        opacity: 0px;
        background: url(../../images/Tdpic1.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        transition: 1s;
    }
    .trending-container .box8 {
        border: 3px solid green;
        border: none;
        padding: 10px;
        width: 329.59px;
        height: 185.39px;
        gap: 0px;
        border-radius: 12px 12px 12px 12px;
        border: 1px 0px 0px 0px;
        opacity: 0px;
        background: url(../../images/Tdpic2.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        transition: 1s;
    }
    
    .trending-container .box9 {
        border: 3px solid green;
        border: none;
        padding: 10px;
        width: 329.59px;
        height: 185.39px;
        gap: 0px;
        border-radius: 12px 12px 12px 12px;
        border: 1px 0px 0px 0px;
        opacity: 0px;
        background: url(../../images/Tdpic3.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        transition: 1s;
    }
    
    .trending-container .box10 {
        border: 3px solid green;
        border: none;
        padding: 10px;
        width: 329.59px;
        height: 185.39px;
        gap: 0px;
        border-radius: 12px 12px 12px 12px;
        border: 1px 0px 0px 0px;
        opacity: 0px;
        background: url(../../images/Tdpic4.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        transition: 1s;
    }
    
    .trending-container .box11 {
        border: 3px solid green;
        border: none;
        padding: 10px;
        width: 329.59px;
        height: 185.39px;
        gap: 0px;
        border-radius: 12px 12px 12px 12px;
        border: 1px 0px 0px 0px;
        opacity: 0px;
        background: url(../../images/Tdpic5.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        transition: 1s;
    }
    
    .trending-container .box12 {
        border: 3px solid green;
        border: none;
        padding: 10px;
        width: 150px;
        height: 185.39px;
        gap: 0px;
        border-radius: 12px 0px 0px 12px;
        border: 1px 0px 0px 0px;
        opacity: 0px;
        background: url(../../images/Tdpic6.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        transition: 1s;
    }
    
    .trending-container, .box8, .box9, .box10, .box11, .box12{
        margin-left: 17px;
    }
    .trending-container, .box7, .box8, .box9, .box10, .box11, .box12{
        cursor: pointer;
    }
    .trending-container .box7:hover {
        transform: scale(1.2);
        z-index: 1;
    }
    .trending-container .box8:hover {
        transform: scale(1.2);
        z-index: 1;
    }
    .trending-container .box9:hover {
        transform: scale(1.2);
        z-index: 1;
    }
    .trending-container .box10:hover {
        transform: scale(1.2);
        z-index: 1;
    }
    .trending-container .box11:hover {
        transform: scale(1.2);
        z-index: 1;
    }
    .trending-container .box12:hover {
        transform: scale(1.2);
        z-index: 1;
    }